// **************************************************
//                    　変数の管理
// **************************************************

// font-family


// font-size
$f-32: 3.2rem;
$f-28: 2.8rem;
$f-24: 2.4rem;
$f-20: 2rem;
$f-16: 1.6rem;
$f-14: 1.4rem;

// color
$body-color:#DFE0D8;


// ブレイクポイント
$tablet:1024px;
$mobile:600px;

@mixin tablet {
  @media screen and (max-width:$tablet) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width:$mobile) {
    @content;
  }
}

// **************************************************
//                    共通の設定
// **************************************************
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  max-width: 100%;
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: $body-color;

  font-family: 'Montserrat', "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}

.section {
  &_wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 60px;

    @include tablet {
      padding: 40px 16px;
    }
  }

  &_header {
    text-align: center;
  }

  &_title {
    font-size: $f-32;
    display: inline-block;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      bottom: 0px;
      display: inline-block;
      width: 120%;
      height: 1px;
      left: 50%;
      transform: translateX(-50%);
      background-color: #333;
    }

    @include mobile {
      font-size: $f-28;
    }
  }
}

.br_sp {
  display: none;

  @include mobile {
    display: block;
  }
}

.page {
  &_header {
    height: 200px;
    position: relative;

    @include mobile {
      height: 100px;
    }
  }

  &_title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fafafa;
  }
}

// **************************************************
//                       index
// **************************************************
// ------------------------------------------
//               border
// ------------------------------------------

.border {
  position: fixed;
  background-color: #566B73;
  z-index: 40;

  &_top {
    top: 0;
    width: 100%;
    height: 6px;
  }

  &_right {
    top: 0;
    right: 0;
    width: 6px;
    height: 100%;
  }

  &_bottom {
    bottom: 0;
    width: 100%;
    height: 6px;
  }

  &_left {
    top: 0;
    width: 6px;
    height: 100%;
  }
}




// ------------------------------------------
//                header
// ------------------------------------------
.header {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.7);

  &_inner {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 16px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

// グローバルナビ
.nav {
  @include tablet {
    position: fixed;
    top: 0;
    right: -60%;
    width: 60%;
    height: 100%;
    background-color: rgb(223, 224, 200);
    transition: 0.3s;
    z-index: 30;
  }

  &_menu {
    display: flex;

    @include tablet {
      flex-direction: column;
      padding-top: 70px;
      // headerのheight
    }
  }

  &_item {
    font-weight: bold;

    @include tablet {
      text-align: center;
      line-height: 80px;
      border-bottom: 1px solid #fafafa;
    }
  }

  &_item+&_item {
    margin-left: 24px;

    @include tablet {
      margin-left: 0;
    }
  }

  &_link {
    display: block;
  }

  &--slide {
    right: 0;
  }
}


// ハンバーガーボタン
.hamburger {
  display: none;

  @include tablet {
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    z-index: 30;

    &_btn {
      width: 100%;
      height: 100%;
      padding: 10%;
      border: 1px solid #333;
      background-color: #fff;
      position: relative;
      cursor: pointer;
    }
  }
}

.bar {
  display: block;
  width: 80%;
  height: 2px;
  border-radius: 2px;
  background-color: #333;
  position: absolute;
  transition: 0.2s;

  &_top {
    top: 25%;
  }

  &_middle {
    top: 50%;
    margin: auto 0;
  }

  &_bottom {
    top: 75%;
  }
}

.bar--active {
  &#top {
    top: 50%;
    transform: rotate(45deg);
  }

  &#middle {
    opacity: 0;
  }

  &#bottom {
    top: 50%;
    transform: rotate(-45deg);
  }
}

.bg_layer {
  display: none;

  @include tablet {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }

  &--active {
    left: 0;
  }
}

// ------------------------------------------
//             mainvisual
// ------------------------------------------
.mainvisual {
  background-image: url(../img/top_mainvisual.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  text-align: center;
  position: relative;

  @include tablet {
    height: 320px;
  }

  @include mobile {
    height: 270px;
  }

  &_copy {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.6);
    padding: 16px;
    width: 100%;
    max-width: 400px;
    border-radius: 3px;

    @include tablet {
      padding: 8px;
      max-width: 280px;
    }
  }

  &_title {
    font-size: $f-32;

    @include tablet {
      font-size: $f-20;
    }
  }

  &_subTitle {
    font-size: $f-20;

    @include tablet {
      font-size: $f-14;
    }
  }
}

// ------------------------------------------
//               about
// ------------------------------------------
.about {
  &_inner {
    display: flex;
    justify-content: center;
    align-items: center;

    @include tablet {
      display: block;
    }
  }

  &_thumbnail {
    width: 50%;
    padding-right: 2.5%;

    @include tablet {
      width: 100%;
      margin-bottom: 1.6rem;
      padding-right: 0;
    }
  }

  &_image {
    width: 100%;
    height: 250px;
    object-fit: cover;

    @include tablet {
      height: 120px;
    }
  }

  &_body {
    width: 50%;
    padding-left: 2.5%;

    @include tablet {
      width: 100%;
      padding-left: 0;
    }
  }

  &_main {
    text-align: center;
  }

  &_text {
    padding: 4rem 0;

    @include tablet {
      padding: 2rem 0;
      font-size: $f-14;
    }
  }

  &_link {
    position: relative;
    display: inline-block;
    padding: 0.8rem 5.6rem;
    text-decoration: none;
    background: #fff;
    transition: .4s;
    border-radius: 3px;
  }

  &_icon {
    margin-left: 1.6rem;
  }
}

// ------------------------------------------
//                menu
// ------------------------------------------
.menu {
  &_inner {}

  &_header {}

  &_title {}

  &_main {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 4rem 0;

    @include mobile {
      flex-direction: column;
      padding: 2rem 0;
    }
  }

  &_button {
    width: 45%;

    @include mobile {
      width: 100%;
    }
  }

  &_button+&_button {
    @include mobile {
      padding-top: 2rem;
    }
  }


  &_link {
    display: block;
    padding: 5rem;
    background-image: url(../img/top_mainvisual.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 7px 15px -7px rgba(0, 0, 0, 0.37);
    border-radius: 3px;

    @include tablet {
      padding: 2rem;
    }
  }

  &_text {
    text-align: center;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 3px;
  }

  &_name {
    font-size: $f-32;
    border-bottom: 1px solid #333;

    @include tablet {
      font-size: $f-24;
    }
  }

  &_subName {
    font-size: $f-20;
  }
}

// ------------------------------------------
//                access
// ------------------------------------------

.access {
  &_inner {}

  &_header {}

  &_title {}

  &_map {
    padding: 2rem 0;

    &-frame {
      height: 400px;

      @include mobile {
        height: 300px;
      }
    }
  }

  &_main {
    display: flex;
    align-items: center;
    justify-content: space-around;

    @include tablet {
      flex-direction: column;
    }
  }

  &_thumbnail {
    width: 40%;

    @include tablet {
      width: 80%;
    }

  }

  &_image {}
}

.table {
  width: 55%;

  @include tablet {
    width: 80%;
  }

  @include mobile {
    width: 100%;
  }



  &_title {
    padding: 1rem;
    font-size: $f-28;
    border-bottom: 1px solid #333;

    @include mobile {
      padding: 0.5rem;
      font-size: $f-24;
    }
  }

  &_subTitle {
    font-size: $f-20;

    @include mobile {
      font-size: $f-14;
    }
  }

  &_row {
    display: flex;
    border-bottom: 1px solid #333;
    font-size: $f-14;
  }

  &_header {
    width: 100px;
    display: flex;
    align-items: center;
    padding: 1rem;
    font-weight: bold;

    @include mobile {
      width: 90px;
      padding: 0.5rem;
    }
  }

  &_detail {
    width: 100%;
    padding: 1rem;

    @include mobile {
      padding: 0.5rem;
    }
  }

  &_open {
    &-time {
      max-width: 250px;
      padding: 0.5rem;

      @include mobile {
        width: 100%;
      }
    }

    &-final {
      display: flex;
      justify-content: space-between;
      max-width: 250px;
      padding: 0.5rem;
    }
  }
}

// ------------------------------------------
//                footer
// ------------------------------------------

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  border-top: 1px solid #333;
  font-size: $f-14;
}


// **************************************************
//               menu(beginner,member)
// **************************************************
.menuCommon {
  margin-bottom: 40px;

  @include mobile {
    margin-bottom: 16px;
  }


  &_header {
    font-size: $f-24;
    padding: 8px;
    background-color: #7E7264;
    color: #fafafa;

    @include mobile {
      font-size: $f-16;
    }
  }

  &_title {}
}

.card {
  margin-top: 16px;

  @include mobile {
    margin-top: 8px;
  }

  &_category {
    position: relative;
    border-bottom: 3px solid #ccc;
    margin-bottom: 8px;
    font-size: $f-24;

    &::after {
      position: absolute;
      content: '';
      bottom: -3px;
      left: 0;
      z-index: 1;
      width: 30%;
      height: 3px;
      background-color: #7E7264;
    }

    @include mobile {
      font-size: $f-16;
    }
  }

  &_list {
    display: flex;
    flex-wrap: wrap;
  }

  &_item {
    border-radius: 3px;
    border: 1px solid #ccc;
    padding: 8px;
    background-color: #fafafa;
    margin: 0 24px 24px 0;
    width: calc(33.3333333% - 48px / 3);

    @include tablet {
      width: calc(50% - 24px / 2);
    }

    @include mobile {
      width: 100%;
    }

    &:nth-child(3n) {
      margin-right: 0px;

      @include tablet {
        margin-right: 24px;
      }

      @include mobile {
        margin-right: 0;
      }
    }

    &:nth-child(2n) {
      @include tablet {
        margin-right: 0;
      }

      @include mobile {
        margin-right: 24px;
      }

      @include mobile {
        margin-right: 0;
      }
    }

    &:nth-child(1n) {
      @include mobile {
        margin-right: 0;
      }
    }
  }
}

.course {
  &_header {
    border-bottom: 1px solid #333;
  }

  &_title {
    position: relative;
    margin-left: 16px;

    &:before {
      content: '◆';
      position: absolute;
      top: 0;
      left: -16px;
    }
  }

  &_subTitle {
    position: relative;
    text-align: right;
    margin-right: 50px;

    &:after {
      content: '(税込)';
      position: absolute;
      top: 0;
      right: -50px;
    }
  }

  &_list {
    padding: 8px;
  }

  &_item {}
}

.operation {
  &_inner {}

  &_list {}

  &_item {
    border-radius: 3px;
    background-color: #fafafa;
    padding: 8px;
  }

  &_item+&_item {
    margin-top: 2rem;
  }

  &_name {
    position: relative;
    display: inline;
    font-weight: bold;

    &:after {
      content: '・・・';
      position: absolute;
      top: 0;
      right: -50px;
    }
  }

  &_text {
    padding-left: 16px;
  }

  &_customer {
    margin: 1rem 0 0.5rem 0;
    border-bottom: 1px solid #333;
  }
}

.regulation {
  &_inner {
    border: 1px solid #333;
    outline: 1px solid #333;
    outline-offset: 3px;
  }

  &_title {
    text-align: center;
    padding: 16px;
  }

  &_list {
    padding: 16px;
  }

  &_item {}

  &_item+&_item {
    margin-top: 1rem;
  }

  &_text {}
}

.beginner {
  .page_header {
    background-image: url(../img/menu-beginner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.member {
  .page_header {
    background-image: url(../img/menu-member.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}